<p>Enter the dimensions and weight of your parcel:</p>
<form action="/results">
  <label for="width"> Width </label>
  <input name="width" type="number">
  <label for="length"> Length </label>
  <input name="length" type="number">
  <label for="depth"> Depth </label>
  <input name="depth" type="number">
  <label for="weight"> Weight </label>
  <input name="weight" type="number">
  <button type="submit">Calculate</button><button type="reset">Reset</button>
</form>
